# **ì‹ ìš©ì¹´ë“œ ì‚¬ìš©ì ì—°ì²´ í”„ë¡œì íŠ¸**
# **Stage 1**

# **1. Intro**

**'ë‚´ ì§‘ ë§ˆë ¨'**ã€€ëˆ„êµ¬ë‚˜ ë§ˆìŒ í•œì¼ ì—ì„œ ê³ ë¯¼í•˜ëŠ” ì£¼ì œì…ë‹ˆë‹¤.<br/>
- *í†µê³„ì²­ 2015ë…„ ìë£Œì— ì˜í•˜ë©´ (https://bit.ly/2SFyzMA)*    
*ì¼ë°˜ì ì¸ í•œêµ­ì¸ì˜ ì ˆë°˜ì€ 48.1%ëŠ” ì•„íŒŒíŠ¸ì— ì‚´ê³  ìˆìŠµë‹ˆë‹¤.*     
*ë˜í•œ ì•„íŒŒíŠ¸ë¥¼ ë¶€ì˜ ì¦ì‹ ìˆ˜ë‹¨ìœ¼ë¡œ ìƒê° í•˜ê¸° ë•Œë¬¸ì— ëˆ„êµ¬ë‚˜ ì•„íŒŒíŠ¸ ê°€ê²©ì— ê´€ì‹¬ì´ ë§ìŠµë‹ˆë‹¤.*  
*í•˜ì§€ë§Œ ìê³  ì¼ì–´ë‚˜ë©´ ë‹¬ë¼ì§€ëŠ” ì•„íŒŒíŠ¸ ê°€ê²©, ì–¸ì œ ì§‘ì„ êµ¬ë§¤í•˜ë©´ ì¢‹ì„ê¹Œìš”? *  
*ì´ˆë³´ë¶€í„° ê³ ìˆ˜ê¹Œì§€ ëª¨ë‘ê°€ ì°¸ì—¬í•˜ëŠ” ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ í”„ë¡œì íŠ¸ë¥¼ ì†Œê°œí•©ë‹ˆë‹¤!*    



<p style='text-align: right;'> January, 2023, ver.001 | DaCrew 4ê¸° TEAM ë¨¼ìŠ¤í¬ë£¨</p>

---

#### <font color="midnightblue">**ì•„íŒŒíŠ¸ ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ í”„ë¡œì íŠ¸**</font>ì— ì°¸ì—¬í•˜ì‹  ë°ì´ì»¤ ì—¬ëŸ¬ë¶„, í™˜ì˜í•©ë‹ˆë‹¤. ğŸ™Œ

ì‹ ë‚˜ëŠ” í‡´ê·¼ê¸¸, ì„œìš¸ ì•¼ê²½ì„ ë³´ë©´ ì €ë ‡ê²Œ ë§ì€ ë¶ˆë¹› ê°€ìš´ë° ë‚´ ì§‘ì€ ì—†ë‹¤ëŠ” ì‚¬ì‹¤ì— ê³ ë¯¼ì´ ë§ì•„ì§‘ë‹ˆë‹¤.ğŸ¥²<br/>
í•˜ì§€ë§Œ í•˜ë£¨ê°€ ë‹¤ë¥´ê²Œ ìê³  ì¼ì–´ë‚˜ë©´ ë‹¬ë¼ì§€ëŠ” ë¶€ë™ì‚° ê°€ê²©, <br/>
ë†’ì€ ê°€ê²©ì— êµ¬ë§¤í•˜ê¸° ì‹«ì€ êµ¬ë§¤ìì˜ ì‹¬ë¦¬ëŠ” ìš°ë¦¬ë¥¼ ê³ ë¯¼ì†ì— ë¹ ì§€ê²Œ ë§Œë“­ë‹ˆë‹¤.<br/>
ì´ë²ˆ êµìœ¡ì„ í†µí•´ **ì•„íŒŒíŠ¸ ë§¤ë§¤ ë°ì´í„°**ë¡œ ì•„íŒŒíŠ¸ ë§¤ë§¤ ê°€ê²©ì„ ì˜ˆì¸¡í•´ ë‚´ëŠ” ë©‹ì§„ ë°ì´ì»¤ğŸ¥‡ê°€ ë˜ì–´ ë³´ì„¸ìš”!

---


# **2. í”„ë¡œì íŠ¸ ë°°ê²½**

ìµœê·¼ ë‰´ìŠ¤ë¥¼ ë³´ë©´ ë¶€ë™ì‚° ê°€ê²©ì´ ë–¨ì–´ì§€ê³  ìˆìŒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤. <br>
í•˜ì§€ë§Œ ìš°ë¦¬ì˜ ê¸°ì–µ ì†ì—ëŠ” 1ë…„ ì „ ì¹˜ì†ŸëŠ” ê°€ê²©ì†ì— ë¶€ë™ì‚° ì—´í’ì´ ê¸°ì–µë‚©ë‹ˆë‹¤. <br>
ìƒê°í•´ë³´ë©´ ìš°ë¦¬ëŠ” ê°€ê²©ì´ ì˜¤ë¥´ë©´ ë–¨ì–´ì§€ê¸°ë¥¼ ê¸°ë‹¤ë¦¬ê³  ì •ì‘ ê°€ê²©ì´ ë–¨ì–´ì§€ë©´ ìµœì €ì ì´ ë  ë•Œ ê¹Œì§€ ê¸°ë‹¤ë¦¬ë‹¤ ì‹œê¸°ë¥¼ ë†“ì¹˜ê³¤ í•©ë‹ˆë‹¤. <br>
ë§¤ë²ˆ ë‚¨ì´ ì‚¬ë©´ ì˜¤ë¥´ê³  ë‚´ê°€ ì‚¬ë©´ ë–¨ì–´ì§€ëŠ” ë§ˆë²•ê°™ì€ ê°€ê²©ì˜ ë¹„ë°€ì„ ë°ì´í„°ë¥¼ í†µí•´ í•©ë¦¬ì ì¸ ê°€ê²©ì„ ì˜ˆì¸¡í•´ ë³´ê³ ì í•´ë‹¹ í”„ë¡œì íŠ¸ë¥¼ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤.

# **3. ë°ì´í„° ì‚´í´ë³´ê¸°**

## 3.1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ ì²« ê´€ë¬¸ì€ **ë°ì´í„°ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒì…ë‹ˆë‹¤.**    
ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ë¥¼ ì‚´í´ë³´ë©° ë°ì´í„°ì˜ í˜•ì‹ê³¼ ëŒ€ëµì ì¸ íŠ¹ì§•ì„ íŒŒì•…í•˜ê³ , ì–´ë–¤ ë¶„ì„ì´ ê°€ëŠ¥í•œì§€ í™•ì¸í•˜ì—¬ ë°©í–¥ì„ ì¡ëŠ” ê³¼ì •ì´ í•„ìš”í•©ë‹ˆë‹¤.


---



ì´ë²ˆ í”„ë¡œì íŠ¸ì˜ ë°ì´í„°ëŠ” ì´ 5ê°€ì§€ì´ë©° ëª¨ë‘ csv íŒŒì¼ì…ë‹ˆë‹¤.

> 1. **train.csv** : ì„œìš¸/ë¶€ì‚° ì§€ì—­ì˜ 1,100,000ì—¬ê°œ ê±°ë˜ ë°ì´í„°, ì•„íŒŒíŠ¸ ê±°ë˜ì¼, ì§€ì—­, ì „ìš©ë©´ì , ì‹¤ ê±°ë˜ê°€ ë“±ì˜ ì •ë³´
> 2. **test.csv** : ì‹¤ ê±°ë˜ê°€ë¥¼ ì œì™¸í•˜ê³  train.csvì™€ ë™ì¼
> 3. **park.csv** : ì„œìš¸/ë¶€ì‚° ì§€ì—­ì˜ ê³µì›ì— ëŒ€í•œ ì •ë³´
> 4. **day_care_center.csv** : ì„œìš¸/ë¶€ì‚° ì§€ì—­ì˜ ì–´ë¦°ì´ì§‘ì— ëŒ€í•œ ì •ë³´ ì •ë‹µ íŒŒì¼
> 5. **submission.csv** : ì œì¶œ ëŒ€ìƒ íŒŒì¼

ë¶„ì„ì— ì‚¬ìš©í•  ë°ì´í„° íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ê¸° ìœ„í•´, **pandas íŒ¨í‚¤ì§€**ê°€ ê°€ì§€ê³  ìˆëŠ” **<font color="orange">read_csv()</font>** í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ê² ìŠµë‹ˆë‹¤.   
- pandas íŒ¨í‚¤ì§€ì— ê´€í•œ ë‚´ìš©ì€ ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”! [pandas ê³µì‹ ìœ ì € ê°€ì´ë“œ](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)    
- íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°: **<font color="orange">import íŒ¨í‚¤ì§€ëª… as ì•½ì–´</font>**

---

### Inst.

1. pandas íŒ¨í‚¤ì§€ë¥¼ pd ë¼ëŠ” ì•½ì¹­ìœ¼ë¡œ import í•˜ì„¸ìš”.

2. read_csv() ë©”ì†Œë“œë¥¼ ì´ìš©í•´    
<font color="green">train.csv, test.csv, park.csv, day_care_center.csv, sample_submission.csv </font>íŒŒì¼ì„    
<font color="green">train, test, park, day_care_center, sample_submission</font> ì´ë¦„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”!

In [ ]:
# 1. pandas íŒ¨í‚¤ì§€ë¥¼ pd ë¼ëŠ” ì•½ì¹­ìœ¼ë¡œ import í•˜ì„¸ìš”.

In [ ]:
# 2. read_csv() ë©”ì†Œë“œë¥¼ ì´ìš©í•´ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.

### Hint.
- <font color="orange">ì•½ì¹­.ë©”ì†Œë“œ</font>ë¡œ íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
    - <font color="orange">OO.OOOO_OOO()</font>

- íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¬ ë³€ìˆ˜ = ì•½ì¹­.read_csv("ë¶ˆëŸ¬ì˜¬ íŒŒì¼ ê²½ë¡œ")

### Solution.
**ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ” ë°©ì‹ì€ ì ‘ì† í™˜ê²½(ë¡œì»¬ ì»´í“¨í„°, Colab ë“±)ì— ë”°ë¼ ë‹¤ì–‘**í•˜ë‚˜, [Jupyter Lite](https://jupyter.org/try-jupyter/lab/)ì—ì„œ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆëŠ” ë°©ë²•ì„ ì†Œê°œí•˜ê² ìŠµë‹ˆë‹¤.    
<img src='http://drive.google.com/uc?export=view&id=165LPD276TSlFXZYjFSL5JKlIlYiZwszc' /><br>
ì™¼ìª½ ìœ„ì—ì„œ íŒŒì¼ ì—…ë¡œë“œ ì•„ì´ì½˜ì„ ì„ íƒí•˜ì—¬ ë°ì´í„° 5ê°œë¥¼ ì—…ë¡œë“œí•©ë‹ˆë‹¤.

In [1]:
# 1. pandas íŒ¨í‚¤ì§€ë¥¼ pd ë¼ëŠ” ì•½ì¹­ìœ¼ë¡œ import í•˜ì„¸ìš”.
import pandas as pd # import íŒ¨í‚¤ì§€ëª… as ì•½ì–´

In [4]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

PATH = "/content/drive/MyDrive/ëŒ€ì™¸í™œë™/ë°ì´í¬ë£¨6ê¸°_ë³´ì´ˆì„ë¶„/data/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
# 2. read_csv() ë©”ì†Œë“œë¥¼ ì´ìš©í•´ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
train = pd.read_csv(PATH+'train.csv') # pd.read_csv(PATH) -> PATHì— ë¡œì»¬ ì €ì¥ ê²½ë¡œ ì…ë ¥ ex) C:/home/data/train.csv
test = pd.read_csv(PATH+'test.csv')
submission = pd.read_csv(PATH+'sample_submission.csv')

## 3.2. ë°ì´í„° í™•ì¸

ë°ì´í„°ê°€ ì˜ ë¶ˆëŸ¬ì™€ì¡ŒëŠ”ì§€, ì–´ë–»ê²Œ ìƒê²¼ëŠ”ì§€ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

ë°ì´í„° ê³¼í•™ ì‹¤ë¬´ ê³¼ì •ì—ì„œëŠ” ë°ì´í„°ë¥¼ ì‚´í´ë³¼ ë•Œ, **ì´ìƒì¹˜ë‚˜ ê²°ì¸¡ì¹˜**ê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì•Œê¸° ìœ„í•˜ì—¬    
**head()**, **info()** ë©”ì†Œë“œë¥¼ í™œìš©í•˜ëŠ” ê²½ìš°ê°€ ë§ìŠµë‹ˆë‹¤.

ê·¸ëŸ¼ ë°ì´í„°ê°€ ì–´ë–»ê²Œ ìƒê²¼ëŠ”ì§€ ì´ ë‘ ê°€ì§€ ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ ì§ì ‘ í™•ì¸í•´ ë³´ì„¸ìš”!

### Inst.
1.   **head()** í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜ **ì²˜ìŒ 5í–‰**ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
2.   **info()** í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜  **ê²°ì¸¡ì¹˜ì™€ ë³€ìˆ˜ íƒ€ì…**ì„ í™•ì¸í•´ ë³´ì„¸ìš”.

In [ ]:
# 1. head() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜ ì²˜ìŒ 5í–‰ì„ í™•ì¸í•´ ë³´ì„¸ìš”.

In [ ]:
# 2. info() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ì™€ ë³€ìˆ˜ íƒ€ì…ì„ í™•ì¸í•´ ë³´ì„¸ìš”.

### Hint.
- <font color="orange">head()</font> : ì²˜ìŒ 5í–‰ ì„ íƒ    
    - <font color="orange">(ìˆ«ì)</font>ë¥¼ ë„£ìœ¼ë©´ ì§€ì • ìˆ«ìë§Œí¼ì˜ í–‰ì„ ì„ íƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

- <font color="orange">info()</font> : ë°ì´í„° ê²°ì¸¡ì¹˜ ë° ë³€ìˆ˜ë“¤ì˜ íƒ€ì… í™•ì¸

### Solution.

In [9]:
# 1. head() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜ ì²˜ìŒ 5í–‰ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
train.head()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0

In [10]:
test.head()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month
0,26457,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,365243,1,0,1,0,NaN,2.0,-60.0
1,26458,F,N,Y,0,135000.0,State servant,Higher education,Married,House / apartment,-18964,-8671,1,0,1,0,Core staff,2.0,-36.0
2,26459,F,N,Y,0,69372.0,Working,Secondary / secondary special,Married,House / apartment,-15887,-217,1,1,1,0,Laborers,2.0,-40.0
3,26460,M,Y,N,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-19270,-2531,1,1,0,0,Drivers,2.0,-41.0
4,26461,F,Y,Y,0,225000.0,State servant,Higher education,Married,House / apartment,-17822,-9385,1,1,0,0,Managers,2.0,-8.0

ê° ì»¬ëŸ¼ì€ **ë¬¸ìì—´, ì •ìˆ˜, ì‹¤ìˆ˜** ë“± ë‹¤ì–‘í•˜ê²Œ êµ¬ì„±ë˜ì–´ ìˆë„¤ìš”!    
test ë°ì´í„°ëŠ” ì˜ˆì¸¡í•´ì•¼í•  ì»¬ëŸ¼ì¸ <font color="green">credit</font>ê°€ ì—†ìŠµë‹ˆë‹¤.

In [11]:
submission.head()

   index  0  1  2
0  26457  0  0  0
1  26458  0  0  0
2  26459  0  0  0
3  26460  0  0  0
4  26461  0  0  0

submission ë°ì´í„°ì—ì„œ test ë°ì´í„°ì™€ ë™ì¼í•œ index ì»¬ëŸ¼ì´ ë³´ì…ë‹ˆë‹¤.    
test ë°ì´í„°ë¡œ ì˜ˆì¸¡í•œ <font color="green">credit</font>ë¥¼ submissionì— ì…ë ¥í•˜ë©´ ë˜ê² ë„¤ìš”.

In [12]:
# 2. info() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ train, test, submission ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ì™€ ë³€ìˆ˜ íƒ€ì…ì„ í™•ì¸í•´ ë³´ì„¸ìš”.
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

**RangeIndex: 26457 entries, 0 to 26456**
â–¶ train ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” ì´ 26457ê°œì…ë‹ˆë‹¤.

**Data columns (total 20 columns):**
â–¶ 20ê°œì˜ ì»¬ëŸ¼ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ ìš”,

**\#   Column**
â–¶ ê° ì»¬ëŸ¼ ì •ë³´ëŠ” ë°ì´í„° ëª…ì„¸ì™€ ë™ì¼í•˜ë„¤ìš”.

**16  occyp_type     18286 non-null  object**
â–¶ occyp_type ì»¬ëŸ¼ì— ì¼ë¶€ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•©ë‹ˆë‹¤.

**dtypes: float64(4), int64(8), object(8)**
â–¶ ë°ì´í„° íƒ€ì…ì€ ì •ìˆ˜í˜•, object, ì‹¤ìˆ˜í˜•ìœ¼ë¡œ ë‹¤ì–‘í•˜ê²Œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          10000 non-null  int64
 1   gender         10000 non-null  object
 2   car            10000 non-null  object
 3   reality        10000 non-null  object
 4   child_num      10000 non-null  int64
 5   income_total   10000 non-null  float64
 6   income_type    10000 non-null  object
 7   edu_type       10000 non-null  object
 8   family_type    10000 non-null  object
 9   house_type     10000 non-null  object
 10  DAYS_BIRTH     10000 non-null  int64
 11  DAYS_EMPLOYED  10000 non-null  int64
 12  FLAG_MOBIL     10000 non-null  int64
 13  work_phone     10000 non-null  int64
 14  phone          10000 non-null  int64
 15  email          10000 non-null  int64
 16  occyp_type     6848 non-null   object
 17  family_size    10000 non-null  float64
 18  begin_month    10000 non-null  float64
dtypes: float64(3), int64(8), object(8)
memory usage: 1.4+ MB

#### QUIZ     
test.info()ë„ train.info()ì™€ ë¹„ìŠ·í•˜ê²Œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.    
ìœ„ì—ì„œ í™•ì¸í•œ í•´ì„ì„ í† ëŒ€ë¡œ **í•´ì„ì„ ë„ì „**í•´ë³´ì„¸ìš”!

**RangeIndex: 5463 entries, 0 to 5463**
â–¶ test ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” ì´ 0,000ê°œì…ë‹ˆë‹¤.

**Data columns (total 12 columns):**
â–¶ 00ê°œì˜ ì»¬ëŸ¼ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ ìš”,

**\#   Column**
â–¶ ê° ì»¬ëŸ¼ ì •ë³´ëŠ” ë°ì´í„° ëª…ì„¸ì™€ ë™ì¼í•˜ë„¤ìš”.

**1216553 non-null**
â–¶ ì „ì²´ ë°ì´í„° ëª¨ë‘ ê²°ì¸¡ì¹˜ê°€ ì—†ìŠµë‹ˆë‹¤.

**dtypes: float64(1), int64(5), object(6)**
â–¶ ë°ì´í„° íƒ€ì…ì€ 00í˜•, 000000, 00í˜•ìœ¼ë¡œ ë‹¤ì–‘í•˜ê²Œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

----
#### ANSWER

**RangeIndex: 5463 entries, 0 to 5463** â–¶ test ë°ì´í„°ì˜ ê°œìˆ˜ëŠ” ì´ 5,463ê°œì…ë‹ˆë‹¤.

**Data columns (total 12 columns)**: â–¶ 12ê°œì˜ ì»¬ëŸ¼ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ ìš”,

**\# Column** â–¶ ê° ì»¬ëŸ¼ ì •ë³´ëŠ” ë°ì´í„° ëª…ì„¸ì™€ ë™ì¼í•˜ë„¤ìš”.

**5463 non-null** â–¶ ì „ì²´ ë°ì´í„° ëª¨ë‘ ê²°ì¸¡ì¹˜ê°€ ì—†ìŠµë‹ˆë‹¤.

dtypes: float64(1), int64(5), object(6) â–¶ ë°ì´í„° íƒ€ì…ì€ ì •ìˆ˜í˜•, object, ì‹¤ìˆ˜í˜•ìœ¼ë¡œ ë‹¤ì–‘í•˜ê²Œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [15]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10000 non-null  int64
 1   0       10000 non-null  int64
 2   1       10000 non-null  int64
 3   2       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB

# 4. ì œì¶œ ì¤€ë¹„í•˜ê¸°

ì´ì œ ì œì¶œì„ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤.

ì´ˆê¸° ìƒíƒœì˜ submission.csv íŒŒì¼ì„ ì œì¶œí•˜ì—¬ **ë¦¬ë”ë³´ë“œ**ì— ì˜¬ë¼ê°€ ë´…ì‹œë‹¤.  

ì´í›„ ìŠ¤í…Œì´ì§€ë¥¼ ê±°ë“­í•˜ë©° ì¡°ê¸ˆì”© ì ìˆ˜ë¥¼ ê°±ì‹ í•´ë³´ê² ìŠµë‹ˆë‹¤.

ì•„ë˜ì™€ ê°™ì´ to_csv ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ submissionì„ **submission.csv**ë¡œ ì €ì¥í•´ ì œì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

<font color=red>submission</font><font color=orange>.to_csv</font><font color=black>(</font><font color=green>'beseline.csv',</font><font color=blue>index=False</font><font color=black>)</font>     

ê° ê¸°ëŠ¥ì„ ìƒ‰ê¹”ë¡œ êµ¬ë³„í•´ ë³¼ê¹Œìš”? </br>     

<font color=red>ë°ì´í„°ì…‹ì´ ìˆëŠ” ê°ì²´ëª…</font><font color=orange>.ê°ì²´ê°€ ê°€ì§€ê³  ìˆëŠ” csv íŒŒì¼ ìƒì„±ìš© ë§¤ì†Œë“œ(í•¨ìˆ˜)</font><font color=black>(</font><font color=green>ì €ì¥í•  íŒŒì¼ì˜ ì´ë¦„ê³¼ í™•ì¥ì,</font><font color=blue>ì¸ë±ìŠ¤ë¥¼ ì„¤ì •í•˜ì§€ ì•Šê² ìŒ(False)</font><font color=black>)</font>

### Inst.

ê¸°ë³¸ì ìœ¼ë¡œ **".to_csv" ë©”ì†Œë“œëŠ” ë°ì´í„°í”„ë ˆì„(ex. submission) ê°ì²´ì˜ ë‚´ìš©ì„ csv íŒŒì¼ í˜•íƒœë¡œ ë§Œë“¤ì–´ ì €ì¥í•´ ì£¼ëŠ” ê¸°ëŠ¥**ì…ë‹ˆë‹¤. </br>
ì´ë ‡ê²Œ í•´ì•¼ ë¹„ë¡œì†Œ íŒŒì´ì¬ ì•ˆì—ì„œ ì‘ì—…í•œ ë‚´ìš©ì´ íŒŒì´ì¬ ë°–ìœ¼ë¡œ ë¹ ì ¸ë‚˜ê°€ ì—¬ëŸ¬ë¶„ì´ ë§Œì§ˆ ìˆ˜ ìˆëŠ” í˜•íƒœê°€ ë˜ëŠ” ê±°ì£ . </br>
ì´ì²˜ëŸ¼ íŒŒì¼ì„ ë¶ˆëŸ¬ì„œ ì²˜ë¦¬í•œ í›„, ì €ì¥í•˜ëŠ” ì¼ë ¨ì˜ ê³¼ì •ì„ "ë°ì´í„° i/o(input/output)ë¥¼ ì²˜ë¦¬í•œë‹¤" ë¼ê³  í•©ë‹ˆë‹¤. </br>

ê·¸ëŸ¼ **to_csv ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ submission ê°ì²´ì˜ ë‚´ìš©ì„ csv íŒŒì¼ í˜•íƒœ**ë¡œ ë§Œë“¤ì–´ ì£¼ê³ ,   
index=Falseë¥¼ í•˜ì—¬ ì¶”ê°€ì ì¸ ì¸ë±ìŠ¤ ì„¤ì •ì„ í•˜ì§€ ë§ì•„ ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# to_csv ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ submissionì„ submission.csvë¡œ ì €ì¥í•´ë³´ì„¸ìš”.

### Hint.
**ì •í™•í•œ ì±„ì ì„ ìœ„í•´ì„œëŠ” index=Falseë¥¼ ê¼­ ë„£ì–´ ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤.**

### Solution.

In [16]:
# to_csv ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ submissionì„ submission.csvë¡œ ì €ì¥í•´ë³´ì„¸ìš”.
submission.to_csv('submission.csv', index=False)