# **ÏïÑÌååÌä∏ Ïã§Í±∞ÎûòÍ∞Ä ÏòàÏ∏° ÌîÑÎ°úÏ†ùÌä∏**


## **Stage 2. Î¨∏Ï†ú Î∞è Î™®Îç∏ÎßÅÏùò Ïù¥Ìï¥ - ÏïÑÌååÌä∏ Ïã§Í±∞ÎûòÍ∞ÄÎ•º ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌï¥ ÌïÑÏöîÌïú Í≤É**
<img src='http://drive.google.com/uc?export=view&id=1KpVIVt81WBwyz5bAAyvm0Lszl09ZTMjj' /><br>

### **INTRO**
ÏßÄÎÇú Ïä§ÌÖåÏù¥ÏßÄ **Stage 1. Î¨∏Ï†ú Í∏∞Î∞ò Ïã§Î¨¥ ÌïôÏäµ(PBL) Í∞úÏöî - ÏïÑÌååÌä∏ Ïã§Í±∞ÎûòÍ∞Ä ÏòàÏ∏° ÌîÑÎ°úÏ†ùÌä∏** ÏóêÏÑú **ÌîÑÎ°úÏ†ùÌä∏Î•º ÌååÏïÖ**ÌïòÍ≥†, **ÌåêÎã§Ïä§ ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏÇ¨Ïö©**ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôÄÏÑú Ï†úÏ∂úÌñàÏäµÎãàÎã§ üòÄ  

ÏïÑÌååÌä∏ Ïã§Í±∞ÎûòÍ∞ÄÎ•º ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌï¥ **Í∞ÄÏû• Î®ºÏ†Ä ÌïÑÏöîÌïú Í≤É**ÏùÄ Î¨¥ÏóáÏùºÍπåÏöî?    
**Î™®Îç∏ ÌïôÏäµÏùÑ ÏúÑÌïú train Îç∞Ïù¥ÌÑ∞**ÏôÄ **Î™®Îç∏ ÌèâÍ∞ÄÎ•º ÏúÑÌïú test Îç∞Ïù¥ÌÑ∞**Í∞Ä ÌïÑÏöîÌï©ÎãàÎã§ üòé

Ïù¥Î≤à Ïä§ÌÖåÏù¥ÏßÄÎäî Î≥ÄÏàòÎì§Ïùò **Í∏∞Ïà†Ï†Å ÌÜµÍ≥Ñ**ÏùÑ ÌôïÏù∏ÌïòÍ≥†, **train Î∞è test Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Íµ¨ÏÑ±**ÌïòÏó¨ **ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ Ï†ÅÏö©**Ìï† ÏòàÏ†ïÏûÖÎãàÎã§.    

Ïù¥Ï†ú ÌåêÎã§Ïä§ ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏûÑÌè¨Ìä∏ÌïòÍ≥†, Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨ÏôÄÎ¥ÖÏãúÎã§~

In [1]:
import pandas as pd

In [27]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

PATH = "/content/drive/MyDrive/ÎåÄÏô∏ÌôúÎèô/Îç∞Ïù¥ÌÅ¨Î£®6Í∏∞_Î≥¥Ï¥àÏÑùÎ∂Ñ/data/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
# 2. read_csv() Î©îÏÜåÎìúÎ•º Ïù¥Ïö©Ìï¥ ÌååÏùº Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
train = pd.read_csv(PATH+'train.csv') # pd.read_csv(PATH) -> PATHÏóê Î°úÏª¨ Ï†ÄÏû• Í≤ΩÎ°ú ÏûÖÎ†• ex) C:/home/data/train.csv
test = pd.read_csv(PATH+'test.csv')
submission = pd.read_csv(PATH+'sample_submission.csv')

### **1. Î≥ÄÏàò Ï°∞ÏÇ¨ Î∞è Í∏∞Ïà†Ï†Å ÌÜµÍ≥Ñ**

Ïö∞ÏÑ† Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Î®ºÏ†Ä Î∂ÑÏÑùÌï¥Î≥ºÍ≤åÏöî!    
head() Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ Íµ¨ÏÑ±ÏùÑ Îã§Ïãú ÌôïÏù∏Ìï¥Î≥ºÍπåÏöî?

#### 1-1. Î≥ÄÏàò Ï°∞ÏÇ¨

In [29]:
train.head()

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0
3,3,F,N,Y,0,202500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15088,-2092,1,0,1,0,Sales staff,2.0,-37.0,0.0
4,4,F,Y,Y,0,157500.0,State servant,Higher education,Married,House / apartment,-15037,-2105,1,0,0,0,Managers,2.0,-26.0,2.0

20Í∞úÏùò Ïª¨ÎüºÏúºÎ°ú Ïù¥Î£®Ïñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞ÎÑ§Ïöî!

#### 1-2. Í∏∞Ïà† ÌÜµÍ≥Ñ
ÌåêÎã§Ïä§Ïùò describe() Ìï®ÏàòÎäî Ïà´ÏûêÌòï(int, float Îì±) Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú Í∏∞Ïà† ÌÜµÍ≥ÑÎ•º Ï†úÍ≥µÌï©ÎãàÎã§.    
describe()Î°ú Ïà´ÏûêÌòï Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú Í∏∞Ïà† ÌÜµÍ≥ÑÎ•º ÌôïÏù∏Ìï¥Î≥ºÍπåÏöî?

##### **Inst.**
Í∑∏Îüº Î®ºÏ†Ä ÏïûÏúºÎ°ú Ïö∞Î¶¨Í∞Ä Î∂ÑÏÑùÌï¥Î≥º Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÎûµÏ†ÅÏúºÎ°ú ÌôïÏù∏Ìï¥Î≥ºÍπåÏöî?

1. train Îç∞Ïù¥ÌÑ∞Î•º describe()Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÏöîÏïΩÌïòÏÑ∏Ïöî.

In [30]:
# 1. train Îç∞Ïù¥ÌÑ∞Î•º describe()Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÏöîÏïΩÌïòÏÑ∏Ïöî.

##### **Hint.**
- <font color="orange">describe()</font> Î°ú Ìå®ÌÇ§ÏßÄÎ•º ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.
    - <font color="orange">OOOOO.OOOOOOO()</font>

##### **Solution.**

In [31]:
# 1. train Îç∞Ïù¥ÌÑ∞Î•º describe()Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÏöîÏïΩÌïòÏÑ∏Ïöî.
train.describe()

,index,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit
count,26457.000000,26457.000000,2.645700e+04,26457.000000,26457.000000,26457.0,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000
mean,13228.000000,0.428658,1.873065e+05,-15958.053899,59068.750728,1.0,0.224742,0.294251,0.091280,2.196848,-26.123294,1.519560
std,7637.622372,0.747326,1.018784e+05,4201.589022,137475.427503,0.0,0.417420,0.455714,0.288013,0.916717,16.559550,0.702283
min,0.000000,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,1.000000,-60.000000,0.000000
25%,6614.000000,0.000000,1.215000e+05,-19431.000000,-3153.000000,1.0,0.000000,0.000000,0.000000,2.000000,-39.000000,1.000000
50%,13228.000000,0.000000,1.575000e+05,-15547.000000,-1539.000000,1.0,0.000000,0.000000,0.000000,2.000000,-24.000000,2.000000
75%,19842.000000,1.000000,2.250000e+05,-12446.000000,-407.000000,1.0,0.000000,1.000000,0.000000,3.000000,-12.000000,2.000000
max,26456.000000,19.000000,1.575000e+06,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000,0.000000,2.000000

Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌïòÎäî Î∞©Î≤ïÏùÄ ÌÅ¨Í≤å 3Í∞ÄÏßÄ Ï†ïÎèÑ ÏûàÏäµÎãàÎã§.
ÏõêÌïòÎäî Ï†ïÎ≥¥Î•º ÏñªÍ∏∞ ÏúÑÌï¥ÏÑú Í∞Å ÏΩîÎìúÏùò ÌäπÏßïÏùÑ ÏïåÏïÑÎëêÎ©¥ Ï¢ãÏäµÎãàÎã§ :)     
describeÎ•º Ïù¥Ïö©ÌïòÎ©¥ Í∞íÏùò Î≤îÏúÑÎ•º ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.      
ÏòàÎ•ºÎì§Ïñ¥ exclusive_use_areaÏùÑ ÌôïÏù∏ÌïòÎ©¥ Í∞íÏùò Î≤îÏúÑÍ∞Ä ÏµúÏÜå 9.26ÏóêÏÑú ÏµúÎåÄ 424.32Ïù∏Í±∏ Ïïå Ïàò ÏûàÏäµÎãàÎã§.     

Îã®Ïàú IDÏôÄ ÎÇ†ÏßúÎ•º Ï†úÏô∏ÌïòÍ≥† Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Ïùò exclusive_use_area, year_of_completion, floor, transaction_real_priceÏùÑ Ï§ëÏ†êÏ†ÅÏúºÎ°ú Î≥¥Î©¥ Ï¢ãÍ≤†ÎÑ§Ïöî!

### **2. Î™®Îç∏ÎßÅÏùÑ ÏúÑÌïú Îç∞Ïù¥ÌÑ∞ÏÖã Ï§ÄÎπÑ(Train/Test)**

In [32]:
train[['gender', 'car', 'reality','income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']]

,gender,car,reality,income_type,edu_type,family_type,house_type,occyp_type
0,F,N,N,Commercial associate,Higher education,Married,Municipal apartment,NaN
1,F,N,Y,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Laborers
2,M,Y,Y,Working,Higher education,Married,House / apartment,Managers
3,F,N,Y,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff
4,F,Y,Y,State servant,Higher education,Married,House / apartment,Managers
...,...,...,...,...,...,...,...,...
26452,F,N,N,State servant,Secondary / secondary special,Married,House / apartment,Core staff
26453,F,N,Y,Working,Higher education,Separated,House / apartment,NaN
26454,F,Y,N,Working,Secondary / secondary special,Civil marriage,With parents,Core staff
26455,M,N,Y,Working,Incomplete higher,Single / not married,House / apartment,Laborers
26456,F,N,N,Working,Secondary / secondary special,Civil marriage,House / apartment,Security staff

In [33]:
from sklearn.preprocessing import LabelEncoder

# ÎùºÎ≤® Ïù∏ÏΩîÎçî ÏÉùÏÑ±
label_encoder = LabelEncoder()

# ÎùºÎ≤® Ïù∏ÏΩîÎî©Ìï† Ïó¥ ÏÑ†ÌÉù
columns_to_encode = ['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']

# ÏÑ†ÌÉùÌïú Ïó¥Ïóê ÎåÄÌï¥ ÎùºÎ≤® Ïù∏ÏΩîÎî© ÏàòÌñâ
for column in columns_to_encode:
    # train Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎäî fit_transform ÏàòÌñâ
    train[column] = label_encoder.fit_transform(train[column])
    print(label_encoder.classes_)

    # test Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎäî transformÎßå ÏàòÌñâ
    test[column] = label_encoder.transform(test[column])

['F' 'M']
['N' 'Y']
['N' 'Y']
['Commercial associate' 'Pensioner' 'State servant' 'Student' 'Working']
['Academic degree' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Secondary / secondary special']
['Civil marriage' 'Married' 'Separated' 'Single / not married' 'Widow']
['Co-op apartment' 'House / apartment' 'Municipal apartment'
 'Office apartment' 'Rented apartment' 'With parents']
['Accountants' 'Cleaning staff' 'Cooking staff' 'Core staff' 'Drivers'
 'HR staff' 'High skill tech staff' 'IT staff' 'Laborers'
 'Low-skill Laborers' 'Managers' 'Medicine staff' 'Private service staff'
 'Realty agents' 'Sales staff' 'Secretaries' 'Security staff'
 'Waiters/barmen staff' nan]

In [34]:
train[['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']]

,gender,car,reality,income_type,edu_type,family_type,house_type,occyp_type
0,0,0,0,0,1,1,2,18
1,0,0,1,0,4,0,1,8
2,1,1,1,4,1,1,1,10
3,0,0,1,0,4,1,1,14
4,0,1,1,2,1,1,1,10
...,...,...,...,...,...,...,...,...
26452,0,0,0,2,4,1,1,3
26453,0,0,1,4,1,2,1,18
26454,0,1,0,4,4,0,5,3
26455,1,0,1,4,2,3,1,8
26456,0,0,0,4,4,0,1,16

In [35]:
train

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,0,0,0,0,202500.0,0,1,1,2,-13899,-4709,1,0,0,0,18,2.0,-6.0,1.0
1,1,0,0,1,1,247500.0,0,4,0,1,-11380,-1540,1,0,0,1,8,3.0,-5.0,1.0
2,2,1,1,1,0,450000.0,4,1,1,1,-19087,-4434,1,0,1,0,10,2.0,-22.0,2.0
3,3,0,0,1,0,202500.0,0,4,1,1,-15088,-2092,1,0,1,0,14,2.0,-37.0,0.0
4,4,0,1,1,0,157500.0,2,1,1,1,-15037,-2105,1,0,0,0,10,2.0,-26.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,26452,0,0,0,2,225000.0,2,4,1,1,-12079,-1984,1,0,0,0,3,4.0,-2.0,1.0
26453,26453,0,0,1,1,180000.0,4,1,2,1,-15291,-2475,1,0,0,0,18,2.0,-47.0,2.0
26454,26454,0,1,0,0,292500.0,4,4,0,5,-10082,-2015,1,0,0,0,3,2.0,-25.0,2.0
26455,26455,1,0,1,0,171000.0,4,2,3,1,-10145,-107,1,0,0,0,8,1.0,-59.0,2.0
26456,26456,0,0,0,0,81000.0,4,4,0,1,-19569,-1013,1,0,0,0,16,2.0,-9.0,2.0

Ïö∞Î¶¨Îäî Ïù¥Ï†ú Ïã§Í±∞ÎûòÍ∞ÄÎ•º ÏòàÏ∏°ÌïòÍ∏∞ ÏúÑÌïú ÏÇ¨Ï†Ñ Ï§ÄÎπÑÎäî ÎÅùÎÇ¨ÏäµÎãàÎã§.     
Îî∞ÎùºÏÑú Ïã§Í±∞ÎûòÍ∞ÄÎ•º ÎÇòÎ®∏ÏßÄ Î≥ÄÏàòÎì§Î°ú Í∞íÏùÑ ÏòàÏ∏°ÌïòÎäî Î™®Îç∏ÏùÑ Íµ¨ÏÑ±Ìï¥ÏïºÌï©ÎãàÎã§.
   
Ïù¥Ïóê ÎßûÏ∂∞ ÏïÑÎûòÏôÄ Í∞ôÏù¥ ÎèÖÎ¶ΩÎ≥ÄÏàòÎ°ú Ïù¥Î£®Ïñ¥ÏßÑ XÏôÄ ÏòàÏ∏°Í∞íÏù∏ Ï¢ÖÏÜçÎ≥ÄÏàòÎ°ú Ïù¥Î£®Ïñ¥ÏßÑ yÎ•º ÏÑ†Ïñ∏Ìï©ÎãàÎã§.

In [36]:
X = train.drop('credit', axis=1)
y = train[['credit']]

   
ÏùºÎ∞òÏ†ÅÏúºÎ°ú Î™®Îç∏ÏùÑ ÌïôÏäµÌï† Îïå,
- train: Î™®Îç∏Ïùò ÌïôÏäµÏùÑ ÏúÑÌïú Îç∞Ïù¥ÌÑ∞
- validation: Î™®Îç∏Ïùò ÌååÎùºÎØ∏ÌÑ∞ ÏóÖÎç∞Ïù¥Ìä∏Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞
- test: Î™®Îç∏Ïùò ÌèâÍ∞ÄÎ•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞(ÌïôÏäµÏóê ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÏùå)    

Î°ú ÎÇòÎàÑÏñ¥ ÏßÑÌñâÌï©ÎãàÎã§.
ÏïÑÎûò Í∑∏Î¶ºÏùÑ Ï∞∏Í≥†ÌïòÏãúÎ©¥, Ïù¥Ìï¥ÌïòÍ∏∞ Ï¢ãÏäµÎãàÎã§.
![train_test](https://cdn.imweb.me/upload/S202105076e626e4618b27/0f0c2df8f341c.png)

Îç∞Ïù¥ÌÑ∞Î•º ÎÇòÎà†ÏÑú ÏÇ¨Ïö©ÌïòÎ©¥ Î™®Îç∏Ïùò ÌïôÏäµÏóêÏÑú ÌôúÏö©ÎêòÏßÄ ÏïäÏùÄ test Îç∞Ïù¥ÌÑ∞Î°ú ÌÉÄÎãπÌïòÍ≤å Î™®Îç∏ÏùÑ ÌèâÍ∞ÄÌï† Ïàò ÏûàÏäµÎãàÎã§.  
sklearnÏùò train_test_split ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º ÏûÑÌè¨Ìä∏ÌïòÏó¨ ÏÇ¨Ïö©ÌïòÍ≤†ÏäµÎãàÎã§.

In [37]:
from sklearn.model_selection import train_test_split

##### **Inst.**
Ïù¥Î≤àÏóêÏÑú trainÍ≥º test Îç∞Ïù¥ÌÑ∞Î°úÎßå Îç∞Ïù¥ÌÑ∞Î•º ÎÇòÎà†Î≥¥Í≤†ÏäµÎãàÎã§.  <br/> train_test_split() Ìï®ÏàòÎ•º Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º ÎÇòÎà†Î≥ºÍπåÏöî?  ü§ó
1. train_test_split()ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÎ¶¨Ìï©ÎãàÎã§. (Îã®, test_sizeÎäî 0.2, random_stateÎäî 42Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§)

In [ ]:
# 1. train_test_split()ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÎ¶¨Ìï©ÎãàÎã§. (Îã®, test_sizeÎäî 0.2, random_stateÎäî 42Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§)

##### **Hint.**
- train_test_split Ìï®ÏàòÏùò inputÏóêÎäî **x, y, test_size, random_state**Î•º ÏÑ§Ï†ïÌï¥Ïïº Ìï©ÎãàÎã§.

##### **Solution.**

In [38]:
# 1. train_test_split()ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÎ¶¨Ìï©ÎãàÎã§. (Îã®, test_sizeÎäî 0.2, random_stateÎäî 42Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§)
train_X, test_X, train_Y, test_Y = train_test_split( X, y, test_size=0.2, random_state=42)

8:2Ïùò ÎπÑÏú®Î°ú Ïûò ÎÇòÎà†Ï°åÎäîÏßÄ ÌôïÏù∏Ìï©ÎãàÎã§.    
shape Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÍ≥º Ïó¥ÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏñ¥Ïöî!
- test_sizeÎäî ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏùò ÎπÑÏú®ÏùÑ ÏùòÎØ∏Ìï¥Ïöî. (default=0.25)
- random_stateÎäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†Ïãú ÏÖîÌîåÏù¥ Ïù¥Î£®Ïñ¥ÏßÄÎäîÎç∞ Ïù¥Î•º ÏúÑÌïú ÏãúÎìúÍ∞íÏùÑ ÏùòÎØ∏Ìï¥Ïöî. Ïã§Ï†úÎ°ú Í∞ôÏùÄ ÏãúÎìúÍ∞íÏùÑ ÏÇ¨Ïö©ÌïòÎ©¥ Í∞ôÏùÄ data setÏùÑ ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏñ¥Ïöî.

In [39]:
print(train_X.shape, test_X.shape, train_Y.shape, test_Y.shape)

(21165, 19) (5292, 19) (21165, 1) (5292, 1)

### **3. Í∏∞Ï¥à Î™®Îç∏ÎßÅ: Îã§Ï§ëÎ∂ÑÎ•ò Î°úÏßÄÏä§Ìã± ÌöåÍ∑Ä**

Ïö∞ÏÑ†Ï†ÅÏúºÎ°ú ÌïôÏäµÌï† Î™®Îç∏ÏùÄ ÏÑ†ÌòïÌöåÍ∑ÄÏûÖÎãàÎã§.    
ÏÑ†ÌòïÌöåÍ∑ÄÎäî
$$Y=WX+B$$
ÏôÄ Í∞ôÏù¥ ÎèÖÎ¶ΩÎ≥ÄÏàò XÏóê Í∞ÄÏ§ëÏπò ÌååÎùºÎØ∏ÌÑ∞Î•º Í≥±ÌïòÍ≥†, ÏÉÅÏàò Î∞îÏù¥Ïñ¥Ïä§Î•º ÎçîÌï¥ÏÑú Ï¢ÖÏÜçÎ≥ÄÏàò YÎ•º ÏòàÏ∏°Ìï† Ïàò ÏûàÏñ¥Ïöî!     
sklearn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò LinearRegressionÏùÑ ÏÇ¨Ïö©ÌïòÍ∏∞ ÏúÑÌï¥ Î®ºÏ†Ä ÏûÑÌè¨Ìä∏Ìï†Í≤åÏöî.

In [40]:
from sklearn.linear_model import LogisticRegression

    
##### **Inst.**
LinearRegression() Ìï®ÏàòÎ°ú ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÏÉùÏÑ±ÌïòÍ≥†, fit() Ìï®ÏàòÎ°ú Î™®Îç∏ÏùÑ ÌïôÏäµÌï† Ïàò ÏûàÏñ¥Ïöî.    
ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ Ìïú Î≤à ÌïôÏäµÏãúÏºúÎ≥ºÍπåÏöî? ü§ó

1. lrmodel Î≥ÄÏàòÏóê ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÏÑ†Ïñ∏Ìï©ÎãàÎã§.
2. lrmodelÏóê train_X, train_YÎ•º fit Ìï©ÎãàÎã§.

In [ ]:
# 1. lrmodel Î≥ÄÏàòÏóê ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÏÑ†Ïñ∏Ìï©ÎãàÎã§.

In [ ]:
# 2. lrmodelÏóê train_X, train_YÎ•º fit Ìï©ÎãàÎã§.

##### **Hint.**
- ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÄ LinearRegression()Ìï®ÏàòÎ•º Ïù¥Ïö©Ìï¥Ïöî.
- ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ fit ÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî x,y Îç∞Ïù¥ÌÑ∞Í∞Ä ÌïÑÏöîÌï¥Ïöî

##### **Solution.**

In [41]:
# 1. lrmodel Î≥ÄÏàòÏóê ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÏÑ†Ïñ∏Ìï©ÎãàÎã§.
lr = LogisticRegression()

In [42]:
train_X

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month
23445,23445,0,1,0,2,270000.0,4,4,2,1,-13281,-312,1,0,1,0,8,3.0,-13.0
13278,13278,0,0,0,0,220500.0,4,4,1,1,-15130,-170,1,0,0,0,18,2.0,-22.0
9303,9303,0,0,0,2,180000.0,4,4,1,1,-12161,-127,1,1,0,0,2,4.0,-35.0
7794,7794,0,0,1,2,360000.0,0,1,1,1,-10685,-1863,1,1,0,0,10,4.0,-23.0
10507,10507,0,0,0,0,180000.0,4,4,2,1,-13774,-2684,1,0,0,0,2,1.0,-48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,21575,0,0,1,3,135000.0,4,4,1,1,-14838,-1539,1,0,0,0,8,5.0,-47.0
5390,5390,0,0,0,1,69750.0,0,4,1,2,-10167,-829,1,1,1,0,14,3.0,-46.0
860,860,0,0,1,0,58500.0,1,1,1,1,-20657,365243,1,0,0,0,18,2.0,-12.0
15795,15795,0,0,1,1,112500.0,4,4,1,1,-9811,-864,1,0,0,0,3,3.0,-35.0
23654,23654,0,0,1,0,315000.0,0,4,1,1,-14419,-2423,1,0,0,0,18,2.0,-24.0

In [43]:
# 2. lrmodelÏóê train_X, train_YÎ•º fit Ìï©ÎãàÎã§.
lr.fit(train_X.drop(['index'], axis=1), train_Y)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

ÌïôÏäµÏùÑ ÏôÑÎ£åÌïòÍ≥† ÎÇòÏÑú Ïã§Ï†ú Ïö∞Î¶¨Ïùò Î™®Îç∏Ïù¥ ÏñºÎßàÎÇò ÏôÑÎ≤ΩÌïúÏßÄ ÌôïÏù∏ÌïòÍ∏∞ ÏúÑÌï¥ Ï†êÏàòÎ•º Í≥ÑÏÇ∞Ìï©ÎãàÎã§.    
ÌîÑÎ°úÏ†ùÌä∏ÏóêÏÑúÎäî RMSE(
ÌèâÍ∑† Ï†úÍ≥±Í∑º Ïò§Ï∞®)Í∞Ä ÌèâÍ∞Ä Í∏∞Ï§ÄÏúºÎ°ú ÏÇ¨Ïö©ÌïòÍ≥† ÏûàÏñ¥Ïöî.   
RMSE ÏãùÏùÄ Îã§ÏùåÍ≥º Í∞ôÏù¥ MSE(ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®)Ïóê Ï†úÍ≥±Í∑ºÏùÑ Ï∑®Ìïú ÌòïÌÉúÏûÖÎãàÎã§!
$${\displaystyle \operatorname {RMSE} ({\hat {\theta }})={\sqrt {\operatorname {MSE} ({\hat {\theta }})}}={\sqrt {\operatorname {E} (({\hat {\theta }}-\theta )^{2})}}.}$$

RMSEÎ•º Í≥ÑÏÇ∞ÌïòÍ∏∞ ÏúÑÌïú mean_squared_error ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º Î®ºÏ†Ä ÏûÑÌè¨Ìä∏Ìï¥Ïïº Ìï¥Ïöî!

In [45]:
# log_loss ÏÑ±Îä•ÌèâÍ∞Ä Í≥ÑÏÇ∞ÏùÑ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
from sklearn.metrics import log_loss

Ïù¥Ï†ú log_loss Ìï®ÏàòÎ°ú Î™®Îç∏ÏùÑ ÏòàÏ∏°Ìï¥Î¥ÖÏãúÎã§!

In [47]:
print(log_loss(train_Y, lr.predict_proba(train_X.drop(['index'], axis=1))))
print(log_loss(test_Y, lr.predict_proba(test_X.drop(['index'], axis=1))))

0.8642300595725583
0.8713928816086156

log_loss Ï†êÏàòÎäî 0.87Ïù¥ÎÑ§Ïöî!

In [54]:
submission

      index  0  1  2
0     26457  0  0  0
1     26458  0  0  0
2     26459  0  0  0
3     26460  0  0  0
4     26461  0  0  0
...     ... .. .. ..
9995  36452  0  0  0
9996  36453  0  0  0
9997  36454  0  0  0
9998  36455  0  0  0
9999  36456  0  0  0

[10000 rows x 4 columns]

In [53]:
lr.predict_proba(test.drop(['index'], axis=1))

array([[0.0778262 , 0.11634582, 0.80582798],
       [0.09059157, 0.18611786, 0.72329056],
       [0.10571161, 0.17770674, 0.71658165],
       ...,
       [0.05575566, 0.1122982 , 0.83194614],
       [0.10465446, 0.19613529, 0.69921025],
       [0.19040675, 0.29072239, 0.51887086]])

In [55]:
proba = lr.predict_proba(test.drop(['index'], axis=1))
submission.loc[:, 1:] = proba

<ipython-input-55-7529d2675450>:2: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  submission.loc[:, 1:] = proba

In [57]:
submission.to_csv('lr_submission.csv', index=False)

Ï°∞Í∏à ÏïÑÏâ¨Ïö¥ Ï†êÏàòÏù∏Í∞ÄÏöî?   
Í∑∏Î†áÎã§Î©¥ Îçî ÎÜíÏùÄ Ï†ïÌôïÎèÑÎ•º Í∞ÄÏßÑ Î™®Îç∏ÏùÑ Ï∞æÍ∏∞ ÏúÑÌï¥ÏÑú stage3ÏóêÏÑú Ïù¥Ïñ¥ÏÑú ÏßÑÌñâÎ≥¥ÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§.    
<img src='http://drive.google.com/uc?export=view&id=161p7_9jSKgi7s305nEmvwriJL_c0Vkmo' /><br>

Ïó¨Í∏∞ÍπåÏßÄ ÏßÑÌñâÌïòÏãúÎäêÎùº Í≥†ÏÉùÌïòÏÖ®ÏäµÎãàÎã§ üòÄ